body {
  background-color: $body-bg;
}

@media print {

  .container {
    width: auto;
  }
}

.my-info {
  @include media-breakpoint-down(md) {
    text-align: center;

    &__initials {
      margin-left: 0;
    }

    .avatar {
      margin: 0 auto;
    }
  }

  &__initials {
    margin-left: 30px;
  }
}

.bio-box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px 2px #ccc;
  margin: $md-unit * 2 0;
  padding: $md-unit;

  &__timeline-wrapper {
    @include media-breakpoint-up(md) {
      padding-left: $lg-unit + 30;
    }
  }
}

a {
  word-break: break-all;
}
