.skills {
  &__item {
    margin-bottom: $lgUnit;
  }
}

.skill-box {
  border-bottom: 1px solid $dark;
  padding: $baseUnit $baseUnit/2;
  margin-bottom: $baseUnit;

  &__rate {
    width: 90px;
  }

  &__rate-full {
    color: $yellow;
  }
}
