.skills {
  &__item {
    margin-bottom: $lg-unit;
  }
}

.skill-box {
  border-bottom: 1px solid $dark;
  margin-bottom: $base-unit;
  padding: $base-unit math.div($base-unit, 2);

  &__rate {
    width: 90px;
    white-space: nowrap;
  }

  &__rate-full {
    color: $blue-700;
  }
}
