.timeline {
  margin: $md-unit 0;
  padding-bottom: $base-unit;
  padding-top: $md-unit;
  position: relative;

  &::before {
    background-color: #d5d6d6;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    top: 0;
    width: 2px;
  }
}

.timeline-box {
  margin-bottom: $lg-unit;
  padding-left: $md-unit + 10;
  position: relative;

  &__duration {
    position: absolute;
    right: 100%;
    width: 85px;
  }

  @include media-breakpoint-down(md) {
    &__duration {
      background: rgba($color: $blue-800, $alpha: 0.5);
      border-radius: 10px;
      color: #fff;
      font-weight: bold;
      line-height: 1;
      margin-bottom: $base-unit;
      padding: 12px;
      position: static;
      text-align: center;
      width: 100%;
      position: static;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__data {
    margin-bottom: $md-unit;
  }

  &__data::before {
    background-color: $dark;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 0;
    margin-left: -6px;
    margin-top: 5px;
    position: absolute;
    width: 14px;
  }

  &__icon {
    margin-right: 10px;
  }

  &__title {
    margin-bottom: $md-unit;
    margin-left: -40px;
    word-break: break-word;

    @include media-breakpoint-up(sm) {
      span {
        padding: $base-unit $lg-unit $base-unit $base-unit;
      }
    }
  }

  &__title span {
    background-color: $dark;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    color: #fff;
    display: inline-block;
    padding: $base-unit;
  }

  &__content {
    word-break: break-word;
  }

  &__content h5 {
    margin-bottom: 20px;
  }

  &__content p:not(:last-child) {
    margin-bottom: 10px;
  }

  &__content ul {
    margin-bottom: 0;
    padding-left: $base-unit;
  }

  &__content ul li {
    margin-bottom: 7px;
  }
}
